/* *{
    margin: 0;
    padding: 0;
} */

/* trying to align everything in center */
/* it seems it was not necessary */
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* work on actual fram */

.frame{
    /* now since we have our box colored we can remove the border which was for our reference */
    /* border: 2px solid red; */
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 0.5rem;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: #3faf82;
    /* overflow: hidden; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 54px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.line-top,
.line-mid,
.line-bot {
    /* border: 2px solid red; */
    width: 80px;
    height: 8px;
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.line-top{
    /* border: 2px solid red; */
    top: -20px;
    transition: top 0.3s 0s, transform 0.4s 0s;  

}

.line-bot{
    /* border: 2px solid black; */
    top: 20px;
    transition: top 0.3s 0s, transform 0.4s 0s;   
}

/* now time to add some animation */
/* adding some transition now */

.menu:checked ~ .line-top {
    top: 0;
    transform: translate(-50%,-50%) rotate(135deg);
    transition: top 0.3s 0s, transform 0.3s 0.4s;
}

.menu:checked ~ .line-bot {
    top: 0;
    transform: translate(-50%,-50%) rotate(45deg);
    transition: top 0.3s 0s, transform 0.3s 0.4s;
}

.menu:checked ~ .line-mid {
    visibility: hidden;
    transition: top 0.3s 0s, transform 0.3s 0.4s;

}



/* done, thanks for watching */
